{
  "plugins": [
    "add-module-exports"
  ],
  "presets": [
    ["env", {
      "loose": true,
      "targets": {
        "browsers": [
          "last 2 versions",
          "ie >= 9"
        ]
      }
    }],
    "react",
    "stage-2"
  ]
}
