{
  "extends": "rapid7/browser",
  "globals": {
    "global": true,
    "process": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "rules":{}
}
